
/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';

@import 'developer-styles.css'; 
/* comment this ^ out - when you are ready */


/* SETTINGS */
@import 'settings.css'; /* variables/ etc */


/* STRUCTURE */
@import 'structure.css';


/* TYPOGRAPHY */
@import 'typography.css';


/* COMPONENTS */
@import 'components.css';


/* MODULES */
@import 'modules/masthead.css';
@import 'modules/day-1.css';
@import 'modules/atmosphere.css';
@import 'modules/colorhuddle.css';

@import 'modules/arrive.css';
@import 'modules/pxl.css';
@import 'modules/slack.css';
@import 'modules/starbucks.css';
@import 'modules/upgrade.css';
@import 'modules/disney.css';
@import 'modules/array-site.css';
@import 'modules/onfleet.css';









html {
	background-color: var(--white);
}



/* SITE SECTIONS */
.site-header {

	position: sticky;
	top: 0;

   background-color: var(--white);
   z-index:  10000;

}
.site-header inner-column {
	padding: 14px 0;
}



